Boolean Variables

In [1]:
print(True,False)

True False

In [2]:
True

True

In [14]:
str="Aviral Kaushal"
print(str.isalnum());
print(str.isalpha());
print(str.isdigit());
print(str.istitle());
print(str.startswith('A'));
print(str.islower());
print(str.endswith('l'));

False
False
False
False
False
False
True

Boolean and Logical Operators

In [15]:
True and True

True

In [16]:
True or False

True

In [17]:
True and False

False

In [19]:
str1='Aviral'
str2='Kaushal'
str2.isalpha() or str1.isnum()

True

Lists

In [3]:
lst_example=[]#empty list
type([])#anything inside a square bracket will considered as a list

list

In [4]:
lst=list()#inbuilt function to initialize a list

In [15]:
lst=['maths','chem',100,200,500]
len(lst)#calculates length of the list

5

Append

In [16]:
lst.append("Aviral")

In [20]:
lst#0-based indexing
lst[3]

200

In [35]:
lst[1:]#slicing from index 1 to the end
#maths was ignored as indexing was from 1

['Kaushal',
 'Kaushal',
 'Kaushal',
 'Kaushal',
 'Kaushal',
 'Kaushal',
 'chem',
 100,
 200,
 500,
 'Aviral']

Insert

In [32]:
l1=list()
l1.append('Aviral')

In [33]:
l1.insert(1,'Kaushal')#.insert is used to enter elements at a specific pos

In [34]:
l1

['Aviral', 'Kaushal']

In [36]:
l1.append(['Santa','Banta'])#will create a nested list

In [37]:
l1

['Aviral', 'Kaushal', ['Santa', 'Banta']]

In [40]:
l1.insert(1,'Hello')

In [41]:
l1

['Aviral', 'Hello', 'Kaushal', ['Santa', 'Banta']]

Extend Method

In [42]:
l2=[1,2,3,4,5,6]

In [43]:
l2.extend([8,9])#.extend is used to append multiple elements in a list

In [44]:
l2

[1, 2, 3, 4, 5, 6, 8, 9]

Various Operations that we can perform in List

In [45]:
l3=[1,6,5,4,3]

In [47]:
sum(l3)#this returns the sum of all elements in the list

19

Pop() Method

In [48]:
#l3 list is used here
l3.pop()#by default removes the last element from the list if the index is not specified

3

In [49]:
l3

[1, 6, 5, 4]

In [50]:
l3.pop(0)#this will remove the first element

1

In [51]:
l3

[6, 5, 4]

count(): Calculates total occurence of given element of List

In [52]:
l4=[1,5,1,2,3,6,6,7,8,1,10]
l4.count(1)#counts the occurence of a specific element in the list

3

In [53]:
#length:Calculates total length of the list
len(l4)

11

In [54]:
#index():Returns the index of first occurence. Start and End index are not necessary parameters
l4.index(1,0,4)

0

In [57]:
#Min and Max element in a list
min(l4)

1

In [58]:
max(l4)

10

In [61]:
l4*2#prints the list 2 times in the same list

[1, 5, 1, 2, 3, 6, 6, 7, 8, 1, 10, 1, 5, 1, 2, 3, 6, 6, 7, 8, 1, 10]